<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UrbanPizzaLab"
        tools:targetApi="31">
        <activity
            android:name=".view.pago"
            android:exported="false" />
        <activity
            android:name=".view.perfil"
            android:exported="false" />
        <activity
            android:name=".view.recuperarcontra"
            android:exported="false" />
        <activity
            android:name=".view.categoria"
            android:exported="true" />
        <activity
            android:name=".view.carrito"
            android:exported="true" />
        <activity
            android:name=".view.registro"
            android:exported="true" />
        <activity
            android:name=".view.reporte"
            android:exported="true" />
        <activity
            android:name=".view.login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.detalle_producto"
            android:exported="true" />
        <activity
            android:name=".view.MainActivity"
            android:exported="true" />
    </application>

</manifest>